<h1>Contrato</h1>
<p>Cliente: <%= @contract.customer %></p>
<p> Equipamentos: <% @contract.equipment.each do |equipment| %>
  <ul><li><%= equipment.name %></li></ul>
<% end %>
<p>Endereço de Entrega: <%= @contract.delivery_address %></p>
<p>Responsável: <%= @contract.responsable %></p>
<p>CPF: <%= @contract.cpf %></p>
<p>Prazo de Locação: <%= @contract.rental_period %></p>
<p>Data Inicial: <%= @contract.initial_date %></p>
<p>Valor: <%= @contract.amount %></p>
<p>Desconto: <%= @contract.discount %></p>
<p>Data de Emissão: <%= @contract.created_at %></p>
