
<h1>Dados do Cliente</h1>

<dl class="dl-horizontal">
  <dt>Nome</dt><dd><%= @customer.name %></dd>
  <dt>Tipo</dt><dd><%= @customer.customer_type %></dd>
  <dt>Endereço de faturamento</dt><dd><%= @customer.billing_address %></dd>
  <dt>Email</dt><dd><%= @customer.email %></dd>
  <dt>Telefone</dt><dd><%= @customer.phone %></dd>
  <dt>CNPJ/CPF</dt><dd><%= @customer.document %></dd>
</dl>
