
<h1>Dados do Cliente</h1>
<p>Nome</p>
<p><%= @customer.name %></p>
<p>Tipo</p>
<p><%= @customer.customer_type %></p>
<p>Endereço de faturamento</p>
<p><%= @customer.billing_address %></p>
<p>Email</p>
<p><%= @customer.email %></p>
<p>Telefone</p>
<p><%= @customer.phone %></p>
<p>Cnpj/Cpf</p>
<p><%= @customer.document %></p>
