<h1>Recibo de Devolução</h1>

<p>São Paulo, 13 de Janeiro de 2016</p>


<p>Eu, <%= @receipt.name%>, declaro ter recebido os equipamentos
<% @receipt.contract.equipment.each do |equipment|%>
  <%= equipment.equipment_category.name %>(<%= equipment.serial_number %>);
<% end %>
em devolução referente ao contrato <%= @receipt.contract_id%> em perfeitas
condições da empresa <%= @receipt.contract.customer.name%>, inscrita no CNPJ/CPF
<%= @receipt.cpf%> no dia <%= @receipt.contract.return_date%>.
</p>

<p> _____________________________ <br>
Assinatura do Funcionário</p>
